<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>DateTime Calculator</title>
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

	<h1>DateTime Calculator</h1>
	<hr>	
	<br>
	<br>
	<ul class="opeList">
		<li><a href="./dayOfWeek">Determine the Day of the Week of a Date</a></li>
		<li><a href="./weeknumOfYear">Determine the Week number of a Date</a></li>
	</ul>
	<br>
	<ul class=opeList>
		<li><a href="./addNDays">Add N days to a date</a></li>
		<li><a href="./addNWeeks">Add N weeks to a date</a></li>
	</ul>
	<br>
	<ul class=opeList>
		<li><a href="./addNMonths">Add N months to a date</a></li>
		<li><a href="./subtractNDays">Subtract N days to a date</a></li>
	</ul>
	<br>
	<ul class=opeList>
		<li><a href="./subtractNWeeks">Subtract N weeks to a date</a></li>
		<li><a href="./subtractNMonths">Subtract N months to a date</a></li>
	</ul>
</body>
</html>